.valid-input {
	padding: 20px;
	display: flex;
	font-size: 15px;
	margin: 10px auto 100px;
	border-radius: 2px;
  border: 2px solid lightgray;
}

.input-title {
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Arial';
	text-align: center;
}